* {
	margin: 0px;
	padding: 0px;
	font-size: 12pt; 
}

html {
	height: 100%;
}

body {
	background: url(netpeak.png) left center /200px no-repeat fixed,
	            url(sun.png) left -20px/ 200px 200px no-repeat fixed,
	            url(plane.png) 95% 10%/ 200px 100px no-repeat fixed,
				linear-gradient(to top, aqua 60%, white 70%, yellow 100%); 
	height: 100%;
	padding: 0px;
}

h1 {
	text-align: center;
	font-size: 24pt;
	line-height: 24pt;
	margin: 0px 30px 30px 30px;
}




.wrapper {
	width: 700px; 
		
	margin: 0px auto;
	background: linear-gradient(to top, aqua 5%, white 15%, white 75%, yellow 100%);
	padding-top: 30px;

}

table {
	border-collapse: collapse; 
	border: 1px solid blue;
	padding: 2px;
	
}

caption {
	color: red; 
}

th,td  {
	color: blue; 
	height: 20px; 
	width: 30px; 
	font-size: 10pt;
	text-align: center; 

}



th:nth-child(6),th:nth-child(7),td:nth-child(6), td:nth-child(7)  {
	color: red; 
}

.tabloid {
	width: 220px;
	margin: 30px auto 5px;
	height: 180px;

}

.change {
	width:100px;
	margin: 5px auto ;
}

.fields {
	width: 600px;
	margin: 0px auto;
}

.creative {
	width: 300px;
	margin: 20px auto;
}
